force-app/main/default/flows/flow_Inbound_Call_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>flow_Go_to_Contact_Page</name>
        <label>Go to Contact Page</label>
        <locationX>509</locationX>
        <locationY>49</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>flow_CurrentCaller.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Inbound Call v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handle Inbound Call Demo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>flow_Inbound_Call2_Screen</name>
        <label>Inbound Call</label>
        <locationX>188</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>flow_Find_or_Create_Contact</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>55</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>flow_Inbound_Call2_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>flow_Find_or_Create_Contact</name>
        <label>Find or Create Contact</label>
        <locationX>340</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>flow_Go_to_Contact_Page</targetReference>
        </connector>
        <flowName>hd_Find_Contact</flowName>
        <outputAssignments>
            <assignToReference>flow_CurrentCaller</assignToReference>
            <name>flow_CreateUserPageObj</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>flow_CurrentCaller</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
