force-app/main/default/flows/hd_Find_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>flow_Go_to_Contact</name>
        <label>Go to Contact</label>
        <locationX>830</locationX>
        <locationY>82</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>flow_CreateUserPageObj.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Object to hold values used to create new Contact object</description>
        <name>flow_CreateUser_Init_Contact_Obj</name>
        <label>Init Contact Obj</label>
        <locationX>38</locationX>
        <locationY>128</locationY>
        <assignmentItems>
            <assignToReference>flow_CreateUserPageObj.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flow_CreateUserPageObj.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flow_CreateUserPageObj.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flow_CreateUserPageObj.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flow_CreateUserPageObj.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flow_CreateUserPageObj.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>flow_CreateContact_Lookup_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>flow_FC_Have_Contact</name>
        <label>Have Contact?</label>
        <locationX>338</locationX>
        <locationY>130</locationY>
        <defaultConnector>
            <targetReference>flow_Get_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Found</defaultConnectorLabel>
        <rules>
            <name>flow_Contact_Not_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>flow_CreateUserPageObj.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>flow_CreateUserPageObj.Id</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <connector>
                <targetReference>flow_Enter_New_Contact_Details</targetReference>
            </connector>
            <label>Contact Not Found</label>
        </rules>
    </decisions>
    <interviewLabel>Find Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>flow_Create_New_Contact_Record</name>
        <label>Create New Contact</label>
        <locationX>644</locationX>
        <locationY>277</locationY>
        <connector>
            <targetReference>flow_Go_to_Contact</targetReference>
        </connector>
        <inputReference>flow_CreateUserPageObj</inputReference>
    </recordCreates>
    <recordLookups>
        <name>flow_Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>491</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>flow_Go_to_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>flow_CreateUserPageObj.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>flow_CreateUserPageObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <screens>
        <name>flow_CreateContact_Lookup_Screen</name>
        <label>Look Up Contact</label>
        <locationX>165</locationX>
        <locationY>128</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>flow_FC_Have_Contact</targetReference>
        </connector>
        <fields>
            <name>flow_FindContactByName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>May I ask who&apos;s calling?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>flow_CreateUserPageObj.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flow_CreateUserPageObj.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>flow_Enter_New_Contact_Details</name>
        <label>Enter New Contact Details</label>
        <locationX>346</locationX>
        <locationY>286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>flow_Create_New_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>flow_SchoolLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Your call is related to which account?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flow_CreateUserPageObj.AccountId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>flow_NewContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flow_CreateUserPageObj.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flow_CreateUserPageObj.LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>flow_NewContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flow_CreateUserPageObj.Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>newContactPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flow_CreateUserPageObj.Phone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>42</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>flow_CreateUser_Init_Contact_Obj</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>flow_FindContactReview</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table&gt;&lt;tr&gt;
&lt;td&gt;Contact ID&lt;/td&gt;&lt;td&gt;{!flow_CreateUserPageObj.Id}&lt;/td&gt;
&lt;td&gt;Account ID&lt;/td&gt;&lt;td&gt;{!flow_CreateUserPageObj.AccountId}&lt;/td&gt;
&lt;table&gt;&lt;tr&gt;</text>
    </textTemplates>
    <variables>
        <name>flow_CreateUserPageObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
